<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="root.home">
                <img src="/images/airbear-logo.png" height="60" />
                <span>Air Bears</span>
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li ui-sref-active="active"><a ui-sref="root.pilot-search">Pilot Search</a></li>
                <li ui-sref-active="active"><a ui-sref="root.resources">Resources</a></li>
                <li ui-sref-active="active"><a ui-sref="root.guidelines">Operational Guidelines</a></li>
                <li ui-sref-active="active"><a ui-sref="root.post-archive">Posts</a></li>
                <li ui-sref-active="active"><a ui-sref="root.contact">Contact</a></li>               
                <li class="dropdown" ng-show="vm.user && vm.user.isAdmin" ng-class="{active:vm.isActive('root.manage')}">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Manage <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ui-sref-active="active"><a ui-sref="root.manage-pilots">Pilots</a></li>
                        <li ui-sref-active="active"><a ui-sref="root.manage-commanders">Commanders</a></li>
                        <li ui-sref-active="active"><a ui-sref="root.manage-posts">Posts</a></li>
                        <li><a href="#">Inventory</a></li>
                    </ul>
                </li>
            </ul>            
            <ul class="nav navbar-nav navbar-right" ng-hide="vm.user">
                <li><a ng-click="vm.openRegistationOptions()">Register</a></li>
                <li><a ng-click="vm.openLogin()">Login</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" ng-show="vm.user">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        {{ vm.user.firstName }} {{ vm.user.lastName }} <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a ui-sref="root.edit-profile" ng-show="!vm.user.isAuthorityAccount">My Profile</a></li>
                        <li><a href="#" ng-click="vm.logout()"><span class="glyphicon glyphicon-lock"></span>&nbsp; Log Out</a></li>
                    </ul>
                </li>
            </ul>
            <div class="nav navbar-nav navbar-right" style="margin-right: 25px;">
                <a href="https://www.facebook.com/Air-Bears-830111767019340/" class="social-icon" target="_blank" title="View Air Bears on Facebook">
                    <img src="../../images/facebook-icon.png" />
                </a>
            </div>
        </div>
    </div>
</div>

<div class="reveal-animation page-view" ui-view></div>

<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <h3>Navigation</h3>
                <ul class="list-unstyled">
                    <li><a ui-sref="root.pilot-search">Pilot Search</a></li>
                    <li><a ui-sref="root.resources">Resources</a></li>
                    <li><a ui-sref="root.guidelines">Operational Guidelines</a></li>
                    <li><a ui-sref="root.post-archive">News and Updates</a></li>
                    <li><a ui-sref="root.contact">Contact Air Bears</a></li>
                </ul>
            </div>
            <div class="col-sm-4">
                <h3>News and Updates</h3>
                <ul class="list-unstyled">
                    <li ng-repeat="post in vm.latestPosts">
                        <a ui-sref="root.post({slug: post.slug})">{{ post.title }}</a>
                        <div class="date">{{ post.datePublished | date:'longDate' }}</div>
                    </li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h3>Contact</h3>
                <p>
                    1980 Hoyt Ave. E.<br />
                    St. Paul, MN 55119
                </p>
                <p>
                    <a href="https://www.facebook.com/Air-Bears-830111767019340/" class="social-icon" target="_blank" title="Contact Air Bears on Facebook">
                        <img src="../../images/facebook-icon.png" /> Facebook
                    </a>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <small>&copy; 2016 Air Bears</small>
            </div>
        </div>
    </div>
</div>

<toaster-container></toaster-container>