<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="root.home">
                <img src="/images/airbear-logo.png" height="60" />
                <span>Air Bears</span>
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a ui-sref="root.pilot-search">Pilot Search</a></li>
                <li><a href>News</a></li>
                <li><a href>Contact</a></li>
                <li class="dropdown" ng-show="vm.user && vm.user.isAdmin">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Manage <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a ui-sref="root.manage-users">Users</a></li>
                        <li><a href="#">Inventory</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right" ng-hide="vm.user">
                <li><a ng-click="vm.openRegistationOptions()">Sign Up</a></li>
                <li><a ng-click="vm.openLogin()">Login</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" ng-show="vm.user">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        {{ vm.user.firstName }} {{ vm.user.lastName }} <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">My Profile</a></li>
                        <li><a href="#" ng-click="vm.logout()"><span class="glyphicon glyphicon-lock"></span>&nbsp; Log Out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container body-content">
    <div class="reveal-animation" ui-view></div>
    <toaster-container></toaster-container>
</div>