<div class="page-header">
    <h1>SAR Pilot Search</h1>
</div>

<div class="row">
    <div class="col-sm-5">
        <div class="panel panel-default">
            <div class="panel-body">
                <form name="searchForm" role="form" novalidate ng-submit="vm.search(searchForm.$valid)">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="address">Address</label>
                                <input id="address" name="address" type="text" class="form-control" required autocomplete="off" g-places-autocomplete ng-model="vm.address" />
                                <!--<div class="help-block validation" ng-show="regForm.organization.$error.required">Organization Name is required.</div>-->
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="distance">Search Distance</label>
                                <select id="distance" name="distance" class="form-control" required ng-model="vm.distance" ng-options="d.name for d in vm.distances"></select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="form-control btn btn-success" ng-disabled="vm.isSearching"><i class="glyphicon glyphicon-search"></i> Search</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="panel panel-default" ng-show="vm.results">
            <div class="panel-heading">
                <h2 class="panel-title">Nearby Pilots</h2>
            </div>
            <ul class="list-group">
                 <li class="list-group-item" ng-repeat="pilot in vm.results" ng-click="vm.selectPilot(pilot)">
                    <strong>{{ pilot.firstName }} {{ pilot.lastName }}</strong>
                    <span class="badge">{{ pilot.distance | number:2 }} miles</span>
                    <br />
                    <em>{{ pilot.email }}</em>
                </li>
                <li class="list-group-item" ng-show="vm.results.length === 0">
                    No pilots were found. Try expanding your search distance.
                </li>
            </ul>
        </div>

    </div>

    <div class="col-sm-7">
        <ui-gmap-google-map ng-show="vm.map && vm.results" center="vm.map.center" zoom="vm.map.zoom">
            <ui-gmap-circle center="vm.circle.center" stroke="vm.circle.stroke" fill="vm.circle.fill" radius="vm.circle.radius"></ui-gmap-circle>
            <ui-gmap-marker ng-repeat="pilot in vm.results"
                            idkey="pilot.id"
                            click="vm.toggleMarkerWindow()"
                            control="vm.markerControl"
                            coords="{ latitude: pilot.latitude, longitude: pilot.longitude }" 
                            options="vm.markerOptions">
                <ui-gmap-window options="vm.windowOptions" closeClick="vm.closeMarkerWindow()">
                    <div>
                        <p>
                            <strong>{{ pilot.firstName }} {{ pilot.lastName }}</strong>
                        </p>
                        <span><i class="glyphicon glyphicon-envelope"></i> {{ pilot.email }}</span><br />
                        <span><i class="glyphicon glyphicon-phone-alt"></i> {{ pilot.phoneNumber }}</span>
                    </div>
                </ui-gmap-window>
            </ui-gmap-marker>
        </ui-gmap-google-map>
    </div>
</div>

<style>
    .angular-google-map-container { height: 450px; width: 100%; }
</style>


