<div class="page-header">
    <h1>Manage Users</h1>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">Users</h2>
            </div>
            <table class="table table-striped table-bordered table-condensed">
                <thead>
                    <tr>
                        <th>Last Name</th>
                        <th>First Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>User Type</th>
                        <th>Tee-Shirt Mailed?</th>
                        <th>Approved Authority</th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="user in vm.users">
                        <td>{{ user.lastName }}</td>
                        <td>{{ user.firstName }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.phoneNumber }}</td>
                        <td>{{ user.isAuthorityAccount ? "Authority" : "Pilot" }}</td>
                        <td>
                            <button class="btn btn-sm btn-info" ng-hide="user.teeShirtMailedDate" ng-click="vm.markTeeShirtMailed($index, 'true')">Mark Shirt Mailed</button>
                            <span ng-show="user.teeShirtMailedDate">{{ user.teeShirtMailedDate | date:"MMM dd, yyyy" }}</span>
                        </td>
                        <td>No</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>