
<div class="col-sm-8">
    <form name="regForm" role="form" novalidate ng-submit="vm.submit(regForm.$valid)">
        <h3>Organization Information</h3>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="organization">Organization Name <small class="glyphicon glyphicon-question-sign" uib-tooltip="What is the name of the organization in need of Air Bears SAR assistance?"></small></label>
                    <input id="organization" type="text" class="form-control" required ng-model="vm.registration.organization" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-5">
                <div class="form-group">
                    <label for="phone">Phone Number</label>
                    <input id="phone" type="text" class="form-control" required ng-model="vm.registration.phoneNumber" />
                </div>
            </div>
        </div>

        <h3>Commander Information <small class="glyphicon glyphicon-question-sign" uib-tooltip="Who will be the primary point of contact?"></small></h3>

        <div class="row">
            <div class="col-sm-5">
                <div class="form-group">
                    <label for="firstName">Contact First Name</label>
                    <input id="firstName" type="text" class="form-control" required ng-model="vm.registration.firstName" />
                </div>
            </div>
            <div class="col-sm-5">
                <div class="form-group">
                    <label for="lastName">Contact Last Name</label>
                    <input id="lastName" type="text" class="form-control" required ng-model="vm.registration.lastName" />
                </div>
            </div>
        </div>


        <h3>New Login</h3>

        <div class="row">
            <div class="col-sm-7">
                <div class="form-group">
                    <label for="email">Email <small class="glyphicon glyphicon-question-sign" uib-tooltip="You will use this email address to sign in to Air Bears."></small></label>
                    <input id="email" type="email" class="form-control" required ng-model="vm.registration.email" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-5">
                <div class="form-group">
                    <label for="password">Password</label>
                    <input id="password" type="password" class="form-control" required ng-model="vm.registration.password" />
                </div>
            </div>
            <div class="col-sm-5">
                <div class="form-group">
                    <label for="confirmedPassword">Password Confirmed</label>
                    <input id="confirmedPassword" type="password" class="form-control" required ng-model="vm.registration.confirmPassword" />
                </div>
            </div>
        </div>

        <div class="form-group">
            <input type="submit" class="form-control btn btn-success" value="Register" />
        </div>
    </form>
</div>

<div class="col-sm-4">
    <h3>Approval Process</h3>
    <p>
        Air Bears representatives contact all registered incident commanders to ensure legitimacy. Once a registed incident commander has
        been approved, they will have unrestricted access to our SAR pilot locator.
    </p>
</div>
