body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 50px;
}

input, select, textarea {
     max-width: 100% !important; 
}

.navbar-inverse {
    background-color: rgba(60,60,60,0.85);
    border-bottom: #555;
}

.navbar-brand > img {
    height: 40px;
    display: inline-block;
    position: relative;
    top: -10px;
    -webkit-filter: brightness(155%);
}

.navbar-brand > span {
    position: relative;
    top: -9px;
}

.navbar-inverse .navbar-nav > li > a, 
.navbar-inverse .navbar-text, 
.navbar-inverse .navbar-brand {
    color: #eee;
}

.navbar-inverse .navbar-nav a {
    cursor: pointer;
}

.navbar-inverse .navbar-nav > .active > a, 
.navbar-inverse .navbar-nav > .active > a:focus, 
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav> li > a:hover {
    color: #fff;
    background: rgba(30,30,30,0.65);
}

.navbar-inverse .navbar-nav > .open > a, 
.navbar-inverse .navbar-nav > .open > a:focus, 
.navbar-inverse .navbar-nav > .open > a:hover {
    color: #fff;
    background: rgba(10,10,10,0.55);
}

.navbar .dropdown-menu {
     background-color: rgba(60,60,60,.85);
     border: 0;
}

.navbar .dropdown-menu a {
    color: #fff;
}

.navbar .dropdown-menu a.active,
.navbar .dropdown-menu a:hover {
    color: #fff;
    background: rgba(30,30,30,0.65);
}

.navbar .dropdown-header, 
.dropdown-menu > li > a {
    padding: 6px 20px;
}

.bg-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;
    background: url('/images/large-bg.png');
    height: 500px;
    background-position: 0px -254px;
}

.vert-margin {
    margin-top: 15px;
    margin-bottom: 15px;
}

.jumbotron {
    margin-top: 50px;
    position: relative;
    z-index: 10;
    background: rgba(30,30,30,0.6);
    color: #fff;
    text-shadow: 1px 2px #000;
}

.under-jumbo {
    margin-top: 125px;
}

.vertical-center.table > tbody > tr > td {
    vertical-align: middle;
}

.vertical-align {
    display: flex;
    flex-direction: row;
}

.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
    display: flex;
    align-items: center; /* Align the flex-items vertically */
    justify-content: center; /* Optional, to align inner flex-items 
                            horizontally within the column  */
}

.sponsors a {
    transition: opacity 0.3s ease;
}

.sponsors a:hover {
    opacity: 0.6;
}

.img-responsive {
    display: inline-block;
}

.img-modal {
    max-height: 170px;
    display: inline-block;
}

.btn .glyphicon {
    top: 2px;
}

.glyphicon.pad-right {
    padding-right: 10px;
}

.bottom-margin {
    margin-bottom: 20px;
}


/*
    Toast Overrides
*/

.toast-top-right {
    top: 70px;
}


/*
    Validation
*/

.help-block.validation {
    display: none;
}

.has-error .help-block.validation {
    display: block;
}

.has-error label {
    color: #a94442;
}


/*
    Modal Overrides
*/

@media (min-width: 768px) {
    .modal-dialog {
        margin: 135px auto;
    }

    .modal-sm {
        /* We want the small modal to be a bit bigger */
        width: 400px;
    }
}


/* 
    Animations
*/

.reveal-animation.ng-enter {
    transition: 0.5s ease all;
    opacity: 0;
}

.reveal-animation.ng-leave {
    transition: 0.3s ease all;
}

.reveal-animation.ng-enter.ng-enter-active {
    opacity: 1;
}

.reveal-animation.ng-leave.ng-leave-active {
    opacity: 0;
}